<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="shortcut icon" href="imagens/bambam.png" type="image/x-icon" />
        <meta charset="utf-8">
        <link rel="stylesheet" href="frameworks/bootstrap.min.css">
        <link rel="stylesheet" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="description" content="Pomodoro Timer construido com Vue.js e um toque de memes.">
        <title >Pomodoro Birl!</title>

        <style media="screen">
            .img {
                border-style: solid;
                border-color: #66ffcc;
                border-width: 5px;
            }
        </style>

    </head>
    <body style="background-color: #001f3f;">
        <div id="app">

            <div class="container-fluid">
                <br>
                <div class="row">
                    <img class=" img rounded-circle mx-auto" style="background-color: #dddddd;" height="125px;" src="imagens/bambam.png" alt="">
                </div>
                <br>
                <div class="row">
                    <h1 class="mx-auto text-light">Pomodoro Birl!</h1>
                </div>
                <div class="row">
                    <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info" v-on:click="setFocar">Focar</button>
                        <button type="button" class="btn btn-info" v-on:click="setDescansar">Descansar</button>
                        <button type="button" class="btn btn-info" v-on:click="setDescansoLongo">Descanso longo</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <p class="h4 mx-auto text-light">{{message}}</p>
                </div>
                <div class="row">
                    <h1 class="mx-auto text-light" style="font-size:70px;" ><span v-show="Math.trunc(time/60) < 10">0</span>{{ Math.trunc(time/60) }}:<span v-show="time%60 < 10">0</span>{{ time%60 }}</h1>
                </div>
                <div class="row">
                    <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" v-on:click="iniciar">Iniciar</button>
                        <button type="button" class="btn btn-warning" v-on:click="pause">Pausar</button>
                        <button type="button" class="btn btn-danger" v-on:click="reset">Resetar</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <button type="button" class="btn btn-secundary mx-auto" v-on:click="showHistorico = !showHistorico">Mostrar/Esconder Histórico</button>
                </div>
                <br>
                <div class="row col-sm-4 col-md-6 col-lg-6 mx-auto" v-if="showHistorico && pomodoros.length > 0">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Hora e Data (Término)</th>
                                <th scope="col">Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="pomodoro in pomodoros">
                                <td>{{pomodoro.datetime}}</td>
                                <td>{{pomodoro.mode === 0? "Focar":pomodoro.mode == 1? "Descansar":"Descanso Longo"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" v-if="showHistorico && pomodoros.length == 0">
                   <p class="text-light mx-auto h5">Histórico Vazio...</p>
                </div>
                <div class="row" v-if="showHistorico && pomodoros.length > 0">
                    <button type="button" class="btn btn-danger mx-auto" v-on:click="limparHistorico">Limpar Histórico</button>
                </div>
                <br>
                <div class="row">
                    <p class="mx-auto text-light">Desenvolvido com muito ♥ por <a class="text-warning" href="https://github.com/macielti">Bruno do Nascimento Maciel</a>.</p>
                </div>
            </div>


        </div>
    </body>
    <script src="frameworks/bootstrap.min.js"></script>
    <script src="frameworks/vue.js"></script>
    <script src="index.js"></script>
</html>
